<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Transactions</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>

    <div class="table-responsive">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table">
            <tr style="font-size: 16px;">
                <th class="th">No.</th>
                <th class="th">Rate</th>
                <th class="th">Amount</th>
                <th class="th">Coins</th>
                <th class="th">Action</th>
            </tr>
            <tr *ngIf="transactionData == undefined || transactionData.length == 0" class="tr-no-data">
              <td colspan="5" class="td">Data not available</td>
            </tr>
            <tr *ngFor="let tran of transactionData">
                <td class="td-transaction-data">{{tran.id}}.</td>
                <td class="td-transaction-data">{{tran.rate}}</td>
                <td class="td-transaction-data">{{tran.amount}}</td>
                <td class="td-transaction-data">{{tran.coins}}</td>
                <td class="td-transaction-data" *ngIf="tran.action == 'buy'"><span class="span-action-buy">{{tran.action}}</span></td>
                <td class="td-transaction-data" *ngIf="tran.action == 'sell'"><span class="span-action-sell">{{tran.action}}</span></td>
            </tr>
        </table>
    </div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title *ngIf="profit > 0" class="ion-title-profit"><span class="profit-title">PROFIT : </span><span class="pos-profit">{{profit}}</span></ion-title>
    <ion-title *ngIf="profit <= 0" class="ion-title-profit"><span class="profit-title">PROFIT : </span><span class="neg-profit">{{profit}}</span></ion-title>
  </ion-toolbar>
</ion-footer>
