<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Transactions</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="trashClicked()">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding>

    <div class="table-responsive">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table">
            <tr style="font-size: 16px;">
                <th class="th"></th>
                <th class="th">No.</th>
                <th class="th">Rate</th>
                <th class="th">Amount</th>
                <th class="th">Coins</th>
                <th class="th">Action</th>
            </tr>
            <tr *ngIf="transactionData == undefined || transactionData.length == 0" class="tr-no-data">
              <td colspan="6" class="td">Data not available</td>
            </tr>
            <tr *ngFor="let tran of transactionData" id="{{'tran_id' + tran.id}}">
                <td class="td-transaction-data add-circle" *ngIf="tran.trans_selected == 'false' || tran.trans_selected == null"><ion-icon name="add-circle" (click)="plus_clicked(tran,'true')"></ion-icon></td>
                <td class="td-transaction-data checkmark-circle" *ngIf="tran.trans_selected == 'true'"><ion-icon name="checkmark-circle" (click)="plus_clicked(tran,'false')"></ion-icon></td>
                <td class="td-transaction-data">{{tran.id}}.</td>
                <td class="td-transaction-data">{{tran.rate}}</td>
                <td class="td-transaction-data">{{tran.amount}}</td>
                <td class="td-transaction-data">{{tran.coins}}</td>
                <td class="td-transaction-data" *ngIf="tran.action == 'buy'"><span class="span-action-buy">{{tran.action}}</span></td>
                <td class="td-transaction-data" *ngIf="tran.action == 'sell'"><span class="span-action-sell">{{tran.action}}</span></td>
            </tr>
        </table>
    </div>

</ion-content>

<!-- <ion-footer>
  <ion-toolbar>
    <ion-title *ngIf="profit > 0" class="ion-title-profit"><span class="profit-title">Envisioned PROFIT : </span><span class="pos-profit">{{profit}}</span></ion-title>
    <ion-title *ngIf="profit <= 0" class="ion-title-profit"><span class="profit-title">Envisioned PROFIT : </span><span class="neg-profit">{{profit}}</span></ion-title>
  </ion-toolbar>
</ion-footer> -->
