page-home {

  ion-card{
    text-align-last: justify;
    border-radius: 5px !important;
  }

  ion-label{
    padding-left: 0px !important;
    color: color($colors, primary) !important;
    font-size: 20px !important;
  }

  ion-input{
    font-size: 17px !important;
  }

  .ion-item-center{
    text-align: center;
  }

  .button-deposit{
    height: 35px !important;
    width: 90px;
    letter-spacing: 1px;
    border-radius: 5px !important;
    font-size: 1.3rem !important;
  }

  .ion-item-border{
    border-bottom: none !important;
  }

  .button-buy, .button-sell{
    height: 35px !important;
    width: 60px;
    border-radius: 5px !important;
    font-size: 1.5rem !important;
  }

  .deposit-amount{
    border-width: 1px;
    border-style: ridge;
    border-radius: 5px;
  }

}
